@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--bg-color: #c6543a;
--conic-gradient: conic-gradient(#FC6C49,
  #F84F7A,
  #F51077,
  #C90DF8,
  #5A0DF9
  );
}

@font-face {
  font-family: 'Bubblegum';
  src: url('./fonts/BubblegumSans-Regular.ttf') format('truetype');
}

body {
  background-image: url('./img/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

h1, h2, button {
  font-family: 'Bubblegum', sans-serif;
}
