@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--bg-color: #3B396A;
--conic-gradient: conic-gradient(#3B396A,
  #5E5A8C,
  #967BA8,
  #C3A6C4,
  #F5E5E8
  );
}

@font-face {
  font-family: 'Bubblegum';
  src: url('./fonts/BubblegumSans-Regular.ttf') format('truetype');
}

h1, h2, button {
  font-family: 'Bubblegum', sans-serif;
}
